.cta__contact {
  padding: 90px 0;
  background-image: url("../../../images/Enterprise_BG.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}
